page-home {
   

}
ion-grid{height: 100%;}
ion-row{height: 100%;}


.card{
height: 100%;
 
border: 1px solid;
}

.column-1{transition: all 1000ms ease;
    background-image: url("./../../assets/imgs/bgtravel.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
.column-2{transition: all 1000ms ease;
    background-image: url("./../../assets/imgs/bgfood.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
.column-3{transition: all 1000ms ease;
    background-image: url("./../../assets/imgs/bgparty.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }